<div class="section row" id="about-me">

    <div class="card jumbotron col-sm-10 col-sm-offset-1">
        <img class="img-circle me" src="/img/me.jpg"/>
        <h3>Hi there!</h3>
        <p> I'm a software engineer who loves learning new things and pushing myself out of my comfort zone.</p>
        <p>I grew up in Chicagoland and recently graduated from UW-Madison with a double major in mathematics and computer science.</p>
        <p>Python, and Java are my languages of choice.</p>
        <p>In my spare time, I enjoy cooking, cycling, games, and drawing.</p>
    </div>

</div>