<div class="section row" id="contact-me">

    <div class="card-half col-sm-10 col-sm-offset-1 jumbotron">

        <h2>Contact</h2>
        <p>I'd love to hear from you!</p>
        <p>I'm currently looking for a full time position</p>
        <div class="topline-alt center-block"></div>
        <div class="contact-form">
            <form class="center-block" action="https://formspree.io/contact@benjaminrichardson.net" method="POST">
                <p>Name <input type="text" name="name" placeholder="Your Name"></p>
                <p>Email Address <input type="email" placeholder="Your Email" name="_replyto"></p>
                <p>Subject<input type="text" name="_subject" placeholder="Hello!" /></p>
                <p>Message<textarea name="body"></textarea></p>
                <input type="text" name="_gotcha" style="display:none" />
                <h3><input class="btn btn-primary" type="submit" value="Send"></h3>
            </form>
        </div>
        <div class="topline center-block"></div>
        <div class="social-icons">
            <a href="http://www.linkedin.com/in/benjamin-c-richardson" target="_blank" class="contact-icon"><img alt="linkedin" src="/img/In-White-121px-TM.png" /></a>
            <a href="http://github.com/BenjaminRichardson" target="_blank" class="contact-icon" ><img src="/img/GitHub-Mark-Light-120px-plus.png" alt="github"/></a>
        </div>

    </div>
</div>